<a href="https://colab.research.google.com/github/pollyjohn/EDA-exercises/blob/master/life_expectancy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('/content/life-expectancy.csv')

In [3]:
df

            Entity Code  Year  Life expectancy (years)
0      Afghanistan  AFG  1950                   27.638
1      Afghanistan  AFG  1951                   27.878
2      Afghanistan  AFG  1952                   28.361
3      Afghanistan  AFG  1953                   28.852
4      Afghanistan  AFG  1954                   29.350
...            ...  ...   ...                      ...
19023     Zimbabwe  ZWE  2015                   59.534
19024     Zimbabwe  ZWE  2016                   60.294
19025     Zimbabwe  ZWE  2017                   60.812
19026     Zimbabwe  ZWE  2018                   61.195
19027     Zimbabwe  ZWE  2019                   61.490

[19028 rows x 4 columns]

In [4]:
index = df[df['Life expectancy (years)'] == df['Life expectancy (years)'].max()].index

In [5]:
# What is the year and country that has the lowest life expectancy in the dataset? 
lowest = df[df['Life expectancy (years)']==df['Life expectancy (years)'].min()]
country1 = lowest.iloc[0,0]
year1 = lowest.iloc[0,2]
print(f"the country with the lowest Life expectancy is {country1} in {year1}")

the country with the lowest Life expectancy is Iceland in 1882

In [6]:
#What is the year and country that has the highest life expectancy in the dataset?
highest = df[df['Life expectancy (years)']==df['Life expectancy (years)'].max()]
country2 = highest.iloc[0,0]
year2 = highest.iloc[0,2]
print(f"the country with the highest Life expectancy is {country2} in {year2}")

the country with the highest Life expectancy is Monaco in 2019

In [7]:
#Allow the user to type in a year, then, find the average life expectancy for that year.
#Then find the country with the minimum and the one with the maximum life expectancies for that year.
u_year = int(input('type a year: '))

type a year: 2002

In [8]:
df.loc[df['Year']==u_year]

               Entity      Code  Year  Life expectancy (years)
52        Afghanistan       AFG  2002                   56.784
124            Africa       NaN  2002                   53.368
194           Albania       ALB  2002                   74.579
267           Algeria       DZA  2002                   71.605
337    American Samoa       ASM  2002                   71.305
...               ...       ...   ...                      ...
18723  Western Sahara       ESH  2002                   63.646
18800           World  OWID_WRL  2002                   66.885
18870           Yemen       YEM  2002                   61.781
18940          Zambia       ZMB  2002                   45.400
19010        Zimbabwe       ZWE  2002                   43.523

[243 rows x 4 columns]

In [9]:
new_index = df[df['Year'] == u_year].index
count = df.loc[new_index,'Life expectancy (years)'].count()
average = df.loc[new_index,'Life expectancy (years)'].sum()/count
print(f'the average life expectancy for the year {u_year} is {average}')
max_ent_table = df.loc[df['Life expectancy (years)']== df.loc[new_index,'Life expectancy (years)'].max()]
entity_expectancy_max = max_ent_table.iloc[0,0]
min_ent_table = df.loc[df['Life expectancy (years)']== df.loc[new_index,'Life expectancy (years)'].min()]
entity_expectancy_lower = min_ent_table.iloc[0,0]
print(f'the entity with the highest life expectancy is {entity_expectancy_max} and the one with the lower is {entity_expectancy_lower}')

the average life expectancy for the year 2002 is 68.72729795127572
the entity with the highest life expectancy is Monaco and the one with the lower is Laos

In [10]:
with open('life-expectancy.csv') as fl:
  life_expectancy_l = []
  country_l = []
  year_l = []
  for line in fl:
    line = line.strip()
    words = line.split(',')
    life_expectancy_l.append(words[3])
    country_l.append(words[0])
    year_l.append(words[2])
  life_expectancy_l.sort()
  life_expectancy_l.pop(-1)
  country_l.sort()
  country_l.pop(-1)
  year_l.sort()
  year_l.pop(-1)


  print(f"the highest Life expectancy is {life_expectancy_l[-1]} ")
  print(f"the lowest Life expectancy is {life_expectancy_l[0]} ")

the highest Life expectancy is 86.751
the lowest Life expectancy is 17.76

In [13]:
index = df['Year'].index

In [17]:
df['Life expectancy (years)'][1] + df['Life expectancy (years)'][2]

56.239000000000004

In [24]:
df['Life expectancy (years)'][10]

32.446

In [107]:
drop = []
for i in range(19028):
  if i < 19027:
    value = (df['Life expectancy (years)'][i] - df['Life expectancy (years)'][i+1])*-1
    f_value = df['Life expectancy (years)'][i]
    s_value = df['Life expectancy (years)'][i+1]
    drop.append([df['Year'][i],df['Entity'][i],f_value.round(2),s_value.round(2),df['Year'][i+1], df['Entity'][i+1], value.round(2)])
  else:
    break

In [ ]:
drop.clear()

In [108]:
drop = pd.DataFrame(drop)

In [109]:
drop.rename(columns={0:'Year1', 1:'Entity_1', 2:'1_value',3:'2_value',4:'Year2', 5:'Entity_2', 6:'drop'}, inplace=True)

In [106]:
drop

    Year1     Entity_1  1_value  2_value  Year2     Entity_2  drop
0    1950  Afghanistan    27.64    27.88   1951  Afghanistan  0.24
1    1951  Afghanistan    27.88    28.36   1952  Afghanistan  0.48
2    1952  Afghanistan    28.36    28.85   1953  Afghanistan  0.49
3    1953  Afghanistan    28.85    29.35   1954  Afghanistan  0.50
4    1954  Afghanistan    29.35    29.85   1955  Afghanistan  0.50
5    1955  Afghanistan    29.85    30.36   1956  Afghanistan  0.51
6    1956  Afghanistan    30.36    30.88   1957  Afghanistan  0.52
7    1957  Afghanistan    30.88    31.40   1958  Afghanistan  0.52
8    1958  Afghanistan    31.40    31.92   1959  Afghanistan  0.52
9    1959  Afghanistan    31.92    32.45   1960  Afghanistan  0.52
10   1960  Afghanistan    32.45    32.96   1961  Afghanistan  0.52
11   1961  Afghanistan    32.96    33.47   1962  Afghanistan  0.51
12   1962  Afghanistan    33.47    33.97   1963  Afghanistan  0.50
13   1963  Afghanistan    33.97    34.46   1964  Afghanistan  0.49
14   1964  Afghanistan    34.46    34.95   1965  Afghanistan  0.48

In [111]:
maior = drop['drop'] == drop['drop'].max()
biggestdrop = drop.loc[maior,['Year1','Entity_1','1_value','2_value','Year2','Entity_2','drop']]

In [112]:
biggestdrop

      Year1 Entity_1  1_value  2_value  Year2 Entity_2   drop
8869   1908   Kuwait     26.0    52.01   1950   Kuwait  26.01

In [67]:
drop.loc[index,['Entity','Year','drop']]

Entity    [Kuwait]
Year          1908
drop       -42.369
Name: 8868, dtype: object

In [129]:
#Allow the user to type in a country, then show the minimum, maximum, and average life expectancy for that country.
country = input('whats the country: ')
filt_country = df['Entity'] == country
max = df.loc[filt_country,['Entity','Life expectancy (years)']].max()
min = df.loc[filt_country,['Entity','Life expectancy (years)']].min()
average = (df.loc[filt_country,['Life expectancy (years)']].sum()/len(df.loc[filt_country,['Life expectancy (years)']])).round(2)

whats the country:

In [130]:
print(f'the higher ever recorded life expectancy for {country} is {max}, the lower is {min} and the average is {average}')

the higher ever recorded life expectancy for  is Entity                     NaN
Life expectancy (years)    NaN
dtype: object, the lower is Entity                     NaN
Life expectancy (years)    NaN
dtype: object and the average is Life expectancy (years)   NaN
dtype: float64